# Add folders and files that we don't want to commit,
# but we want to keep in the local repository, to .gitignore file
# This is a hidden file in the repository, and it is used to tell Git which files to ignore.

# Add folders here
data/
__pycache__/
notebooks/

# Add type of files here
*.pyc
data/*.pyc
data/**/*.pyc
*.ipynb
*.parquet   
*.csv
*.png

# Add specific files here
models/a_pgm_model/main_training.py
testing_training.py
prefect_run.py
wandb/