adjustText==0.7.3
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1674245120525/work
alembic==1.12.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1693488585952/work
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi-bindings_1666850755229/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1690563019058/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
azure-appconfiguration==1.4.0
azure-common==1.1.28
azure-core==1.29.3
azure-identity==1.14.0
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.17.0
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1677767029043/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
bcrypt==4.0.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1674535352125/work
blinker==1.6.2
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1660586590972/work
Bottleneck @ file:///Users/runner/miniforge3/conda-bld/bottleneck_1678327187879/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1693583518054/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi==2023.7.22
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179432479/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1666834065074/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorama==0.4.6
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
contextily==1.3.0
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1686734108934/work
cramjam==2.7.0
crayons==0.4.0
cryptography==39.0.2
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1689982172250/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1677707033352/work
databricks-cli==0.17.7
debugpy @ file:///Users/runner/miniforge3/conda-bld/debugpy_1691021518019/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diskcache==5.6.3
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1677711074949/work
docker==5.0.3
docker-pycreds==0.4.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
environs==9.5.0
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1692026125334/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1690055433477/work/dist
fastparquet==2023.8.0
Fiona==1.9.4.post1
fitin==0.2.0
Flask==2.3.3
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1692542726085/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1693658915743/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.0
git-filter-repo==2.38.0
gitdb==4.0.10
GitPython==3.1.36
gunicorn==21.2.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1691408075105/work
ingester3==1.9.1
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1691424478312/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1693580003080/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1690877070294/work
isodate==0.6.1
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1690896916983/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1688248289187/work
jsonpointer==2.0
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1691761378595/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
jupyter @ file:///Users/runner/miniforge3/conda-bld/jupyter_1670249726915/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1678118109161/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1691505939576/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1685453365113/work/jupyter-lsp
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1693317508789/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1686775920423/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1693487358826/work
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1673491454549/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1692015883666/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1688489450369/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1690205927615/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1692883836791/work
Levenshtein==0.20.9
lightgbm @ file:///Users/runner/miniforge3/conda-bld/lightgbm_1689341387087/work
llvmlite==0.40.1
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lz4==3.1.10
Mako==1.2.4
Markdown==3.4.4
markdown2==2.4.10
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1685769187476/work
marshmallow==3.20.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1688685044808/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mercantile==1.2.1
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1692116650819/work
mlflow==2.6.0
msal==1.23.0
msal-extensions==1.0.0
msgpack @ file:///Users/runner/miniforge3/conda-bld/msgpack-python_1678312908206/work
munkres==1.1.4
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1684790896106/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1693331710275/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1690814868471/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1693410793506/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1682360583588/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1687804891905/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1687808469522/work
oauthlib==3.2.2
openpyxl==3.1.2
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1691338815398/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==1.5.2
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko==2.12.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1684654233406/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
portalocker==2.7.0
progressbar2 @ file:///home/conda/feedstock_root/build_artifacts/progressbar2_1666856063684/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1689032443210/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
properscoring==0.1
protobuf==4.24.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1681775391262/work
psycopg2==2.9.7
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==12.0.1
pycountry==22.3.5
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.10.12
pygam @ file:///home/conda/feedstock_root/build_artifacts/pygam_1689012298145/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
PyJWT==2.8.0
PyMonad==2.4.0
PyNaCl==1.5.0
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1686129295146/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1686136045891/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1680037775204/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv==0.18.0
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-utils @ file:///home/conda/feedstock_root/build_artifacts/python-utils_1690799867107/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1692737292055/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1691667608861/work
querystring-parser==1.2.4
rapidfuzz==2.15.1
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1677453231081/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1691337268233/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rpds-py @ file:///Users/runner/miniforge3/conda-bld/rpds-py_1693237231099/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1688116592562/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1692501362325/work/base/dist/scipy-1.11.2-cp39-cp39-macosx_11_0_arm64.whl#sha256=59124bd421036800419cf65e84758d09dd85815b6540d81ba0414d718333facc
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
Send2Trash @ file:///Users/runner/miniforge3/conda-bld/send2trash_1682601407921/work
sentry-sdk==1.35.0
setproctitle==1.3.3
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1668518039507/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
snuggs==1.4.7
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1658207591808/work
SQLAlchemy==1.4.49
sqlparse==0.4.4
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1683305774790/work
stepshift==2.2.5
stepshifter3==0.0.1
strconv==0.4.2
tabulate==0.8.10
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1670254106711/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1666100256010/work
toml==0.10.2
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz==0.11.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1692311898997/work
tqdm==4.66.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239959992/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3==1.26.16
views-dataviz==0.10.0
views-forecasts==0.5.3
views-mapper2==1.10.1
views-partitioning==3.0.1
views-runs==1.14.1
views-schema==2.3.0
views-storage==1.1.6
views-transformation-library==2.7.2
viewser==5.14.1
wandb==0.16.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1679900785843/work
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1692730992302/work
Werkzeug==2.3.7
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1688504439014/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1692570435082/work
xgboost==1.6.2
xhistogram @ file:///home/conda/feedstock_root/build_artifacts/xhistogram_1663666515791/work
xskillscore @ file:///home/conda/feedstock_root/build_artifacts/xskillscore_1633754754742/work
xyzservices==2023.7.0
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
